[submodule "app/_lib/user-management-client"]
	path = app/_lib/user-management-client
	url = https://github.com/preitinger/user-management-client.git
[submodule "app/_lib/user-management-server"]
	path = app/_lib/user-management-server
	url = https://github.com/preitinger/user-management-server.git
[submodule "app/_lib/pr-push-api-common"]
	path = app/_lib/pr-push-api-common
	url = https://github.com/preitinger/pr-push-api-common.git
[submodule "app/_lib/pr-push-api-client"]
	path = app/_lib/pr-push-api-client
	url = https://github.com/preitinger/pr-push-api-client.git
[submodule "app/_lib/pr-push-api-server"]
	path = app/_lib/pr-push-api-server
	url = https://github.com/preitinger/pr-push-api-server.git
[submodule "app/_lib/pr-timeout"]
	path = app/_lib/pr-timeout
	url = https://github.com/preitinger/pr-timeout.git
[submodule "app/_lib/pr-test-utils"]
	path = app/_lib/pr-test-utils
	url = https://github.com/preitinger/pr-test-utils.git
