.chatLinesBorder {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid gray;
    border-radius: 1rem;
    /* max-height: 80vh; */
    /* overflow: hidden; */
    --chat-lines-border-hor: 0;
    --chat-lines-border-vert: 0.5rem;
    padding-left: var(--chat-lines-border-hor);
    padding-right: var(--chat-lines-border-hor);
    padding-top: var(--chat-lines-border-vert);
    padding-bottom: var(--chat-lines-border-vert);
    height: auto;
}

.chatLinesBorder:focus-within {
    border-radius: 1rem;
    outline: 1px dashed black;
    outline-offset: 1px;

}

.chatLines {
    padding: 1rem;
    height: calc(70vh - 7rem);
    overflow-y: scroll;
    z-index: 1000;
}

.chatLinesSmall {
    height: calc(35vh - 7rem);
}

.chatLines:focus {
    outline: none;
    /* because the parent .chatLinesBorder is outlined */
}

@media (min-width: 1000px) {
    .chatLinesBorder {
        margin: 1rem;
    }
    .userListOuter {
        width: 30ex;
    }
}

.noUsers {
    font-style: italic;
}

.userListLabel {
    margin-left: calc(2rem + 4px);
    font-size: smaller;
}

.userListOuter {
    overflow: hidden;
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0;
}

.userList {
    list-style-type: none;
    background-color: bisque;
    color: black;
    max-height: 50vh;
    overflow-y: scroll;
    padding-left: 0;
}

.userListSmall {
    max-height: 25vh;
}

.userListItemOuter {
    background-color: bisque;
    border: none !important;
    margin: 0;
    padding: 4px;
}

.userListItemInner {
    /* margin: 4px; */
    border-radius: 1rem;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* border-style: outset; */
    overflow: hidden;
    background: inherit;
}

.userListItemOuter:first-child {
    margin-top: 1rem;
}

.userListItemOuter:last-child {
    margin-bottom: 1rem;
}

.userListItemOuter:nth-child(odd) {
    background-color: rgb(218, 195, 167);
}

.selected {
    background-color: black !important;
    color: white !important;
    /* border-style: inset; */
}

.userListItemInner:hover {
    /* font-size: 105% */
    padding-left: 1.1rem;
    /* margin: 0;
    background-color:rgb(255, 246, 234) !important;
    outline: 1px solid black !important;
    color: black !important; */
}
.sendingPrefix {
    font-size: 50%;
}
.sendingPrefix, .sendingContent {
    color: gray;
}

.hintLine {
    color: darkgreen;
    font-size: smaller;
}

.errorLine {
    color: darkred;
}
