.chatLinesBorder {
    margin: 1em;
    border:1px solid gray;
    border-radius: 1em;
    /* max-height: 80vh; */
    /* overflow: hidden; */
    --chat-lines-border-hor: 0;
    --chat-lines-border-vert: 0.5em;
    padding-left: var(--chat-lines-border-hor);
    padding-right: var(--chat-lines-border-hor);
    padding-top: var(--chat-lines-border-vert);
    padding-bottom: var(--chat-lines-border-vert);
    height: auto;
}
.chatLinesBorder:focus-within {
    border-radius: 1em;
    outline: 1px dashed black;
    outline-offset: 1px;

}
.chatLines {
    padding: 1em;
    height: calc(70vh - 7em);
    overflow-y: scroll;
}

.chatLinesSmall {
    height: calc(35vh - 7em);
}

.chatLines:focus {
    outline: none; /* because the parent .chatLinesBorder is outlined */
}

.noUsers {
    font-style:italic;
}
.userListOuter {
    overflow: hidden;
    border: 1px solid black;
    border-radius:1em;
    cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding: 0;
    width: 30ex;
}
.userList {
    list-style-type:none;
    background-color: bisque;
    color:black;
    max-height: 50vh;
    overflow-y: scroll;
    padding-left: 0;
}

.userListSmall {
    max-height: 25vh;
}

.userListItemOuter {
    background-color: bisque;
    border: none !important;
    margin: 0;
    padding: 4px;
}

.userListItemInner {
    /* margin: 4px; */
    border-radius: 1em;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    /* border-style: outset; */
    overflow: hidden;
    background: inherit;
}

.userListItemOuter:first-child {
    margin-top: 1em;
}
.userListItemOuter:last-child {
    margin-bottom:1em;
}

.userListItemOuter:nth-child(odd) {
    background-color: rgb(218, 195, 167);
}

.selected {
    background-color: black !important;
    color: white !important;
    /* border-style: inset; */
}

.userListItemInner:hover {
    /* font-size: 105% */
    padding-left: 1.1em;
    /* margin: 0;
    background-color:rgb(255, 246, 234) !important;
    outline: 1px solid black !important;
    color: black !important; */
}
