
textarea,
input,
button {
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

label {
    margin: 1em;
}

body {
    padding: 2em;
}

button {
    cursor: pointer;
}

button:disabled {
    background-color: lightgray;
}

:focus {
    border-radius: 1em;
    outline: 1px dashed black;
    outline-offset: 1px;
}