
textarea,
input,
button {
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}
p, h2, h4, h5 {
    /* @media(min-width: 1000px) {
        margin: 1rem;
    }
    @media(max-width: 999px) {
        margin: 1rem 0;
    } */
    margin: 1rem;
}

label {
    margin: 1rem;
    cursor: pointer;
}

fieldset {
    margin: 1rem;
    cursor: pointer;
}

body {
    @media(min-width: 1000px) {
        padding: 2rem;
    }
    @media(max-width: 999px) {
        padding: 0;
        margin: 0;
    }
}

button {
    cursor: pointer;
}
input[type=checkbox], input[type=radio] {
    cursor: pointer;
}

button:disabled {
    background-color: lightgray;
    cursor: inherit;
}

:focus {
    border-radius: 1rem;
    outline: 1px dashed black;
    outline-offset: 1px;
}

.dlg {
    background: lightgray;
    border: 5px blue;
    border-radius: 1rem;
    padding: 1rem;
}
.smallComment {
    font-size: xx-small;
    color: gray;
}