
textarea,
input,
button {
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}
p {
    margin: 1em;
}

label {
    margin: 1em;
}

body {
    @media(min-width: 1000px) {
        padding: 2em;
    }
    @media(max-width: 999px) {
        padding: 0;
        margin: 0;
    }
}

button {
    cursor: pointer;
}

button:disabled {
    background-color: lightgray;
}

:focus {
    border-radius: 1em;
    outline: 1px dashed black;
    outline-offset: 1px;
}