.main {
    position: relative;
    padding: 2em;
    height: 90vh;
}
.header {
    margin-bottom: 3em;
    /* height: 4em; */
}

.left {
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    width: 40ex;
}
.right {
    position: absolute;
    left: 40ex;
    right: 0;
    top:0;
    bottom:0;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
}

.noUsers {
    font-style:italic;
}
.userListOuter {
    overflow: hidden;
    border: 1px solid black;
    border-radius:1em;
    list-style-type:none;
    cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding: 0;
    width: 30ex;
}
.userList {
    background-color: bisque;
    color:black;
    max-height: 50vh;
    overflow-y: scroll;
}

.userListItemOuter {
    background-color: bisque;
    border: none !important;
    margin: 0;
    padding: 4px;
}

.userListItemInner {
    /* margin: 4px; */
    border-radius: 1em;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    /* border-style: outset; */
    overflow: hidden;
    background: inherit;
}

.userListItemOuter:first-child {
    margin-top: 1em;
}
.userListItemOuter:last-child {
    margin-bottom:1em;
}

.userListItemOuter:nth-child(odd) {
    background-color: rgb(218, 195, 167);
}

.selected {
    background-color: black !important;
    color: white !important;
    /* border-style: inset; */
}

.userListItemInner:hover {
    /* font-size: 105% */
    padding-left: 1.1em;
    /* margin: 0;
    background-color:rgb(255, 246, 234) !important;
    outline: 1px solid black !important;
    color: black !important; */
}

.call {
    margin-top: 0.8em;
    border-radius: 1em;
    padding: 1em;
}
.hintLine {
    color: darkgreen;
    font-size: smaller;
}
.errorLine {
    color: darkred;
}

.frozen {
    border: gray;
    background: lightgray;
    color: gray;
}
